@import "src/global";

.explorer-renderer {
  flex: 1;
}

.explorer-sidebar {
  width: 25%;
  min-width: 25%;
  max-width: 25%;
}

.explorer-wrapper {
  background: $global-bg-color;
  color: white;
  height: 100vh;
  width: 100%;
}
