.ugent-logo {
  margin-left: -2.5rem !important;
  width: 12rem;
  min-width: 12rem;
  max-width: 12rem;
  object-fit: contain;
}

.fac-logo {
  width: 25rem;
  min-width: 25rem;
  max-width: 25rem;
  object-fit: contain;
}

.action-btn {
  width: 7rem;
}

.flex-basis-0 {
  flex-basis: 0 !important;
}
