$global-bg-color: #282828;

/**
Spinner
 */
.overlay-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($global-bg-color, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 7px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 7px solid #555;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**
Cursors
 */

// https://github.com/twbs/bootstrap/issues/16088 (fixed by setting this property on a direct parent)
.cursor-not-allowed {
  cursor: not-allowed;
}
